@{
    ViewData["Title"] = "Olvide";
}
<form method="post" action='@Url.Action("CambiarContraseña","Account")' id="formLogin">
    <label for="contraseña">Contraseña Nueva:</label>
    <input type="password" id="contraseña" name="contraseña" required>
    <a href='@Url.Action("Register", "Account")'><p>Registrate</p></a>
    <a href='@Url.Action("Login", "Account")'><p>Login</p></a>
    <button type="submit">Enviar</button>
</form>