@{
    ViewData["Title"] = "Login";
}
<form method="post" action='@Url.Action("ValidarLogin","Account")' id="formLogin">
    <label for="nombre">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>
     <label for="nombre">Contrase単a:</label>
    <input type="password" id="contrase単a" name="contrase単a" required>
    <a href='@Url.Action("Register", "Account")'><p>Eres Nuevo?</p><p>Registrate</p></a>
    <a href='@Url.Action("Olvide", "Account")'>Olvide mi contrase単a</a>
    <p class="mensaje">@ViewBag.Incorrecto</p>
    <button type="submit">Enviar</button>

</form>