@{
    ViewData["Title"] = "Page";
}
<div class="Info">
<h1>Bienvenido @ViewBag.Usuario.Nombre!</h1>
<h2>Tu user es: @ViewBag.Usuario.UserName</h2>
<h3>Tu Telefono es: @ViewBag.Usuario.Telefono</h3>
<h4>Tu Email es: @ViewBag.Usuario.Email</h4>
</div>

