@{
    ViewData["Title"] = "Login";
}
<form method="post" action="procesar.php" id="formLogin">
    <label for="nombre">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>
     <label for="nombre">Contrase単a:</label>
    <input type="password" id="contrase単a" name="contrase単a" required>
    <a href='@Url.Action("Home", "Register")'><p>Eres Nuevo?</p><p>Registrate</p></a>
    <a href='@Url.Action("Home", "Register")'>Olvide mi contrase単a</a>
    <button type="submit">Enviar</button>

</form>